h1{
    text-align: center;
    color: #322aa5;

}
.btn{
    background-color:beige;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
}

.n{
    margin-bottom: 10px;
}

.fields{
    margin: 0 auto;
}

.button{
    margin-top: 20px;
    
}

.data{
    margin-left: 25%;
    margin-right: 25%;
   
}

ul{
    list-style:none ;
    
    padding-inline-start: 4%;
    background-color: antiquewhite;
    
}
li{
    margin: 10px;

}